---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Er klokken 13:37?">
	<main>
		<h1>Er klokken <span class="text-gradient">13:37</span>?</h1>
		<div id="state1337">
			Måske
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

<script>
	const state1337Element = document.getElementById('state1337');

	if (state1337Element) {
		const now = new Date();
		const is1337 = now.getHours() === 13 && now.getMinutes() === 37;

		if (is1337) {
			state1337Element.innerHTML = 'Ja';
		}
		else {
			state1337Element.innerHTML = 'Nej';
		}
	}
</script>