---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Er klokken 13:37?">
	<main
		class="grid h-screen place-items-center content-center gap-10 text-4xl"
	>
		<h1 class="font-bold text-slate-700 dark:text-slate-200">
			Er klokken <span
				class="bg-gradient-to-tr from-purple-500 to-pink-500 bg-clip-text text-transparent"
				>13:37</span
			>?
		</h1>
		<div id="state1337">Næppe</div>
	</main>
</Layout>

<script>
	const state1337Element = document.getElementById('state1337');
	const targetHour = 13;
	const targetMinute = 37;
	const baseClasses = ['font-extrabold'];

	function updateState() {
		if (!state1337Element) {
			throw new Error('State element not found');
		}

		const now = new Date();
		const isTargetTime =
			now.getHours() === targetHour && now.getMinutes() === targetMinute;

		if (isTargetTime) {
			state1337Element.innerHTML = 'Ja';
			state1337Element.className = [
				...baseClasses,
				'text-green-500',
				'dark:text-green-600',
			].join(' ');
		} else {
			state1337Element.innerHTML = 'Nej';
			state1337Element.className = [
				...baseClasses,
				'text-red-500',
				'dark:text-red-600',
			].join(' ');
		}
	}

	function updateAndScheduleNextCheck() {
		try {
			updateState();
		} catch (error) {
			console.error('Update failed:', error);
		}

		const now = new Date();
		const highFrequency =
			now.getHours() === targetHour &&
			now.getMinutes() >= targetMinute - 1 &&
			now.getMinutes() <= targetMinute + 1;

		const nextCheckInMs = highFrequency
			? 1000 - now.getMilliseconds()
			: 60_000 - now.getSeconds() * 1000 - now.getMilliseconds();

		setTimeout(updateAndScheduleNextCheck, nextCheckInMs);
	}

	document.addEventListener('visibilitychange', () => {
		if (document.visibilityState === 'visible') {
			updateState();
		}
	});

	updateAndScheduleNextCheck();
</script>
