---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="da" class="bg-slate-100 dark:bg-slate-950">
	<head>
		<meta charset="UTF-8" />
		<!-- https://github.com/alextim/astro-lib/tree/main/packages/astro-robots-txt#readme -->
		<meta name="description" content="Er klokken 13:37?">
		<meta name="keywords" content="klokken,1337,leet" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
